body {
  background: #000;
  overflow-x: hidden;
}

.container {
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

h1 {
  color: #FFF;
  font-family: Arial;
  font-size: 45px;
  text-align: center;
}